 /* 通配符选择器 */
 * {
     margin: 0;
 }

 /* 指定选择器 */

 /* 标签选择器 */
 strong {
     font-size: 100px;
     /* color: red; */
 }

 /* id选择器 */
 #s1 {
     color: rgb(228, 19, 19);
 }

 #s2 {
     color: rgb(255, 136, 0);
 }

 #s3 {
     color: rgb(255, 166, 0);
 }

 #s4 {
     color: rgb(72, 255, 0);
 }

 #s5 {
     color: rgb(0, 255, 234);
 }

 #s6 {
     color: rgb(0, 119, 255);
 }

 /* 类选择器  共性*/
 .xhx {
     text-decoration: underline;
 }